.idea

.sass-cache

bower_components

node_modules

assets/scripts/vendors/jquery.min.js

assets/scripts/vendors/modernizr.js

_build/assets/scripts/vendors/jquery.min.js

_build/assets/scripts/vendors/modernizr.js

_build/bower.json

_build/bower.json

_build/node_modules